.cardio1 {
  position: relative;
  line-height: 25px;
  font-weight: 600;
}
.text1 {
  position: absolute;
  top: 55px;
  left: 155px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.rectangle7,
.selection2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-13xl);
  background-color: var(--dark-2);
}
.selection2 {
  width: 31.71%;
  right: 34.04%;
  left: 34.25%;
  border-radius: var(--br-5xl);
  background-color: var(--primary);
}
.all1 {
  left: 13.76%;
}
.all1,
.cardio2,
.strength1 {
  position: absolute;
  top: 17.86%;
  line-height: 16px;
}
.cardio2 {
  height: 57.14%;
  width: 12.23%;
  left: 44.04%;
  color: var(--color-gray-200);
  display: inline-block;
}
.strength1 {
  left: 75.84%;
}
.tabs2 {
  position: absolute;
  height: 3.45%;
  width: 87.2%;
  top: 14.41%;
  right: 6.4%;
  bottom: 82.14%;
  left: 6.4%;
  cursor: pointer;
  font-size: var(--footnote-medium-size);
}
.image-icon6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.image-icon6,
.rectangle8 {
  border-radius: var(--br-base);
}
.card6,
.rectangle8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.title20 {
  position: relative;
  font-weight: 600;
}
.vector6 {
  width: 11px;
  position: relative;
  background-color: var(--primary);
  height: 2px;
  transform: rotate(-90deg);
}
.subtitle13 {
  position: relative;
  line-height: 16px;
}
.subtitle12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  font-size: var(--footnote-medium-size);
  color: var(--primary);
}
.title19 {
  position: absolute;
  bottom: 16px;
  left: 16px;
  height: 41px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-9xs);
}
.pro-badge-child4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-red-100);
}
.title21 {
  position: absolute;
  top: 6.25%;
  left: 15.15%;
  line-height: 13px;
}
.pro-badge6 {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 33px;
  height: 16px;
  display: none;
  font-size: var(--caption-regular-size);
}
.card-21,
.card-31 {
  position: absolute;
  height: 31.25%;
  width: 100%;
  top: 68.75%;
  right: 0;
  bottom: 0;
  left: 0;
}
.card-21 {
  top: 34.38%;
  bottom: 34.38%;
}
.rectangle10 {
  height: 100%;
  bottom: 0;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: var(--br-base);
}
.card-11,
.pro-badge-child6,
.rectangle10 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.pro-badge-child6 {
  height: 100%;
  bottom: 0;
  border-radius: var(--br-9xs);
  background-color: var(--premium);
}
.card-11 {
  height: 31.25%;
  bottom: 68.75%;
}
.image-1-icon1,
.tempimagemvz0yq-1-icon1,
.tempimagewbzvie-1-icon1 {
  position: absolute;
  left: 131px;
  border-radius: 0 var(--br-base) var(--br-base) 0;
  height: 160px;
  object-fit: cover;
}
.image-1-icon1 {
  top: 0;
  width: 195.7px;
  mix-blend-mode: normal;
}
.tempimagemvz0yq-1-icon1,
.tempimagewbzvie-1-icon1 {
  top: 176px;
  width: 196px;
}
.tempimagewbzvie-1-icon1 {
  top: 352px;
}
.cards1 {
  position: absolute;
  height: 63.05%;
  width: 87.2%;
  top: 23.28%;
  right: 6.4%;
  bottom: 13.67%;
  left: 6.4%;
  font-size: var(--subtitle-medium-size);
}
.navigation-icon1 {
  position: absolute;
  height: 11.33%;
  width: 100%;
  top: 88.67%;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.cardio-equipment {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--h5-semibold-size);
  color: var(--soft);
  font-family: var(--body-medium);
}
